PORT=8088

DATABASE_URL=postgresql://postgres:CHANGE_ME_DB_PASSWORD@YOUR_DB_HOST:5432/ppg

JWT_SECRET=CHANGE_ME_SUPER_SECRET
JWT_REFRESH_SECRET=CHANGE_ME_REFRESH_SECRET

CLIENT_URL=https://planning-poker-game-production-c411.up.railway.app
