API_PORT=3001

DATABASE_URL=

DB_USER=postgres
DB_HOST=localhost
DB_NAME=ppg
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
DB_PORT=5432

JWT_SECRET=CHANGE_ME_SUPER_SECRET
JWT_REFRESH_SECRET=CHANGE_ME_REFRESH_SECRET

CLIENT_URL=https://planning-poker-game-production-c411.up.railway.app
