.createGameSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}

/* Общие стили для input и select */

.createGameItem {
	width: 500px;
}

input.createGameItem {
	width: 480px;
}

input,
select {
	font-size: 1em;
	padding: 10px 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	margin: 8px 0 16px;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Фокус на поле */

input:focus,
select:focus {
	border-color: #007bff;
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}
/* Планшеты */

@media (max-width: 768px) {
	.createGameItem {
		width: 400px;
	}
	input.createGameItem {
		width: 380px;
	}
}

/* Мобильные устройства */

@media (max-width: 576px) {
	.createGameItem {
		width: 300px;
	}
	input.createGameItem {
		width: 280px;
	}
}
