.create-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    font-size: 16px;
}


/* Общие стили для input и select */

input,
select {
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 8px 0 16px;
    width: 500px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


/* Фокус на поле */

input:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}


/* Стили для кнопки */

.NewGame {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 500px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin: 8px 0 16px;
}


/* При наведении */

.NewGame:hover {
    background-color: #0056b3;
}


/* При фокусе */

.NewGame:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}