
.playingCard {
    cursor: pointer;
    background-color: white;
    font-size: 1.2em;
    border: solid 1px;
    border-radius: 5px;
    width: 64px;
    height: 90px;
    text-align: center;
}

.playingCard .card-suit {
    padding: 0;
    margin: 0;
}

.cardSuitsContainer {
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playingCard .playingCardValue {
    padding: 0;
    margin: 6px 0 6px;
}

.playingCard .card_hearts, .playingCard .card_diams {
    color: red;
}


