.header {
   /* --bg-color: #2c3e50;
    --primary-color: #3498db;
    --text-color: white;
    --hover-light: rgba(255, 255, 255, 0.1);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg-header-color);
    color: var(--text-color);
}


/* Левая секция */

.left-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: 0;
}

.logo-image {
    height: 100px;
    width: 100px;
    object-fit: contain;
    flex-shrink: 0;
}

.logo-text {
    font-size: 1.25em;
    font-weight: 700;
}


/* Правая секция */
.right-section {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.auth-buttons {
    display: flex;
    gap: 0.75em;
}