@import "variables.css";
@import "buttons.css";
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 2rem 0;
}

.pageContainer {
    margin: 50px 100px;
}

.middleAlignContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}